@page "/Schools/Create"
@using DTO;
@using GSCS_Cameras_Server.Services
@inject SchoolService _service;

<EditForm Model="_school" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Name">Name: </label>
        <InputText id="Name" @bind-Value="_school.Name"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }
    private readonly School _school = new School();

    void HandleSubmit()
    {
        _service.Add(_school);
        Modal.CloseAsync(ModalResult.Ok<School>(_school));
    }
}